#bg-login-image-alex {
    background: url("https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.0-9/69817456_2379265558981262_1951934796330434560_n.jpg?_nc_cat=105&_nc_sid=85a577&_nc_eui2=AeERtDoq-5VsSIA4kPS4awbKgFWF8N-bRCqAVYXw35tEKtuI6AifCH_tahNAzy4lJX5Xb9v3askeLh17DT6osLo7&_nc_ohc=CjSdZqqzDG0AX9NCVy6&_nc_ht=scontent.fmnl4-2.fna&oh=e2b898883658466a9d89453ff522ade4&oe=5ECF8907");
      background-position: center;
      background-size: cover;
}